@import "tailwindcss";

@theme {
  --color-primary: #fcba03;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-gradient {
  @apply from-[#f1a900] to-[#fdeb77] text-transparent bg-clip-text bg-linear-to-r;
}

@layer base {
  body {
    background-color: #141414;
    color: white;
    scroll-behavior: smooth;
  }

  * {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  ::-moz-selection {
    @apply bg-primary text-white;
  }
}

@layer components {
  .badge {
    @apply bg-primary/10 text-primary text-xs px-2 py-1 rounded-md;
  }

  .loader {
    @apply w-12 h-12 border-5 border-primary border-b-transparent rounded-full inline-block box-border;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
