@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #141414;
    color: white;
    scroll-behavior: smooth;
  }

  * {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  ::-moz-selection {
    @apply bg-primary text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply from-[#f1a900] to-[#fdeb77] text-transparent bg-clip-text bg-gradient-to-r;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fcba03;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
