@import 'tailwindcss';

@theme {
  --color-primary: #fcba03;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-gradient {
  @apply from-[#f1a900] to-[#fdeb77] text-transparent bg-clip-text bg-linear-to-r;
}

@layer base {
  body {
    background-color: #141414;
    color: white;
    scroll-behavior: smooth;
  }

  * {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  ::-moz-selection {
    @apply bg-primary text-white;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fcba03;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
